.box {
    width: 366px;
    height: 240px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #e2e2e2;
  }
  
  .box .overlap {
    position: relative;
    top: 7px;
    left: 7px;
    width: 351px;
    height: 225px;
  }
  
  .box .overlap-group {
    position: absolute;
    top: 0;
    left: 0;
    width: 351px;
    height: 225px;
  }
  
  .box .rectangle {
    position: absolute;
    width: 29px;
    height: 214px;
    top: 32px;
    left: 9px;
  }
  
  .box .text-wrapper {
    position: absolute;
    width: 147px;
    height: 19px;
    top: 130px;
    left: -54px;
    transform: rotate(-89.82deg);
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .img {
    position: absolute;
    width: 41px;
    height: 41px;
    top: 18px;
    left: 54px;
    object-fit: cover;
  }

  .box .idoso-marca-dagua {
    position: absolute;
    width: 159px;
    height: 158px;
    top: 57px;
    left: 121px;
    object-fit: cover;
  }

  .box .div {
    position: absolute;
    width: 317px;
    height: 225px;
    top: 8px;
    left: 43px;
    border: 1px solid;
    border-color: #e4e4e4;
  }
  
  .box .braso-de-armas {
    position: absolute;
    width: 45px;
    height: 42px;
    top: 18px;
    left: 303px;
    object-fit: cover;
  }
  
  .box .REP-BLICA-FEDERATIVA {
    position: absolute;
    width: 187px;
    height: 24px;
    top: 17px;
    left: 108px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 10px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-2 {
    position: absolute;
    width: 228px;
    height: 16px;
    top: 66px;
    left: 85px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-3 {
    position: absolute;
    width: 99px;
    height: 6px;
    top: 81px;
    left: 148px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 7px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .n-DO-REGISTRO {
    position: absolute;
    width: 147px;
    height: 12px;
    top: 95px;
    left: 135px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .span {
    font-weight: 700;
  }
  
  .credencial .text-wrapper-4 {
    font-weight: 700;
    font-size: 9px;
  }
  
  .box .text-wrapper-5 {
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
  }
  
  .box .line {
    width: 294px;
    top: 114px;
    left: 54px;
    object-fit: cover;
    position: absolute;
    height: 1px;
  }
  
  .box .VALIDADE {
    position: absolute;
    width: 90px;
    height: 11px;
    top: 122px;
    left: 75px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-6 {
    font-weight: 500;
  }
  
  .box .text-wrapper-7 {
    font-weight: 500;
    font-size: 9px;
  }
  
  .box .text-wrapper-8 {
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    font-size: 7px;
  }
  
  .box .DATA-DE-EMISS-o {
    position: absolute;
    width: 122px;
    height: 11px;
    top: 122px;
    left: 205px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .RG-o-EXPEDIDOR {
    position: absolute;
    width: 250px;
    height: 20px;
    top: 147px;
    left: 75px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .MUNIC-PIO-JACARE-SP {
    position: absolute;
    width: 140px;
    height: 13px;
    top: 168px;
    left: 75px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .line-2 {
    width: 90px;
    top: 202px;
    left: 153px;
    position: absolute;
    height: 1px;
  }
  
  .box .p {
    position: absolute;
    width: 90px;
    height: 7px;
    top: 200px;
    left: 153px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 5px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-9 {
    position: absolute;
    width: 181px;
    height: 11px;
    top: 211px;
    left: 111px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 8.5px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .box .text-wrapper-10 {
    position: absolute;
    width: 90px;
    height: 4px;
    top: 196px;
    left: 152px;
    font-family: "Inter-Light", Helvetica;
    font-weight: 300;
    color: #000000;
    font-size: 4px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .idoso {
    position: absolute;
    width: 29px;
    height: 29px;
    top: 16px;
    left: 16px;
    object-fit: cover;
  }