{% extends "base.html" %}

{% block styles %}
    {# Preserva estilos do arquivo pai (base.html) #}
    {{ block('styles') }}
    
{% endblock %}

{% block conteudo %}
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
        data-boxed-layout="full">
        
        <div class="page-wrapper px-5 w-100">
            <div class="page-breadcrumb mb-3 px-0">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Cadastro</h4>
                    </div>
                </div>
            </div>
            <div class="row my-1 justify-content-between">
                <div class="input-group col-md-4">
                    <div class="input-group col-md-8 p-0">
                        <div class="data" style="width: 12rem;">
                            <label for="doc_consulta">Busque munícipe pelo CPF ou RG:</label>
                            <input type="text" id="doc_consulta" class="form-control w-60" name="doc_consulta" maxlength="14" placeholder="">
                        </div>
                    </div>
                    <div class="divbotaocep">
                        <button type="button" id="consultaDOC" class="botaocep" data-url="{{ url(URL_DESENVOLVIMENTO ~ '/pessoa/consulta-doc') }}"><i
                                class="mdi mdi-magnify"></i></button>
                    </div>
                </div>
                <div class="input-group col-md-4">
                    <div class="data" style="width: 12rem;">
                        <label>Campos marcados com asterisco (*) são obrigatórios</label>
                    </div>
                </div>
            </div>
            <form class="form-cadastro" id="form-cadastro" method="post" enctype="multipart/form-data" action="">

                <hr>
                
                <div class="row my-1">
                    <div class="input-group col-md-7">
                        <label for="nomecompleto" class="form-label">*Nome Completo</label>
                        <input type="text" class="form-control w-100" id="nomecompleto" name="nome"
                            placeholder="ex: Ana Paula Martins" required/>
                    </div>
                    <div class="input-group col-md-3 justify-content-center">
                        <label class="form-label" for="sexo">*Sexo</label>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sexo" id="inlineRadio1"
                                value="M" required>
                            <label class="form-check-label" for="inlineRadio1">M</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sexo" id="inlineRadio2"
                                value="F" required>
                            <label class="form-check-label" for="inlineRadio2">F</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="sexo" id="inlineRadio3"
                                value="N" required>
                            <label class="form-check-label" for="inlineRadio3">Não definido</label>
                        </div>
                    </div>
                </div>
                <div class="row my-1">
                    <!-- EXPEDIÇÃO E DATA -->
                    <div class="input-group col-md-2">
                        <label for="rg">RG</label>
                        <input type="text" id="rg" class="form-control w-100" name="rg"
                        placeholder="">
                    </div>
                    <div class="input-group col-md-2">
                        <label for="rg_expedidor">Órgão Expedidor</label>
                        <input type="text" id="rg_expedidor" class="form-control w-100" name="rg_expedidor">
                    </div>
                    <div class="input-group col-md-2">
                        <label for="rg_data">Data de Expedição</label>
                        <input type="date" id="rg_data" class="form-control w-100" name="rg_data"
                            placeholder="00/00/0000">
                    </div>
                </div>
                <div class="row my-1 justify-content-between">
                    <div class="input-group col-md-2">
                        <label for="cpfCnpj">*CPF/CNPJ</label>
                        <input type="number" id="cpfCnpj" class="form-control w-100" name="cpf" oninput="validarDocumento(this)" required>
                    </div>
                    <div class="input-group col-md-2">
                        <label for="telefone">*Telefone de Contato</label>
                        <input type="text" id="telefone" class="form-control w-100" name="telefone" maxlength="14"
                            oninput="formatarTelefone(this)" placeholder="" required>
                    </div>
                    <div class="input-group col-md-2">
                        <label for="data_nascimento">*Data Nasc</label>
                        <input type="date" id="data_nascimento" class="form-control w-100" name="data_nascimento" required>
                    </div>
                </div>
                
                <div class="row my-1">
                    <div class="input-group col-md-2 pr-0">
                        <label for="cep">CEP</label>
                        <input type="text" id="cep" class="form-control w-100" name="cep" placeholder="00000-000" oninput="formatarCEP(this)" maxlength="9">
                    </div>
                    <div class="divbotaocep">
                        <button type="button" id="consultaCEP" class="botaocep"><i
                                class="mdi mdi-magnify"></i></button>
                    </div>
                    <div class="input-group col-md-6">
                        <label for="endereco">*Endereço</label>
                        <input type="text" id="endereco" name="endereco" class="form-control w-100"
                            placeholder="Endereço" required>
                    </div>
                    <div class="input-group col-md-3">
                        <label for="bairro">*Bairro</label>
                        <input type="text" id="bairro" name="bairro" class="form-control w-100" placeholder="Bairro" required>
                    </div>
                </div>
                <div class="row my-1 justify-content-between">
                    <div class="input-group col-md-6 p-0">
                        <div class="input-group col-md-6">
                            <label for="cidade">*Cidade</label>
                            <input type="text" id="cidade" name="cidade" class="form-control w-100" placeholder="Cidade" required>
                        </div>
                        <div class="input-group col-md-4">
                            <label for="uf">*UF</label>
                            <input type="text" id="uf" name="uf" class="form-control w-100" placeholder="UF" maxlength="2" required>
                        </div>
                    </div>
                    <div class="input-group col-md-6">
                        <div class="col-md-6">
                            <label for="complemento">Complemento</label>
                            <input type="text" class="form-control" id="complemento" name="complemento" placeholder="Complemento">
                        </div>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="input-group col-md-2">
                        <label for="cnh">CNH</label>
                        <input type="number" id="cnh" class="form-control w-100" name="cnh"
                            placeholder="0000000000" maxlength="2">
                    </div>
                    <div class="input-group col-md-2">
                        <label for="cnh_validade">Validade</label>
                        <input type="date" id="cnh_validade" class="form-control w-100" name="cnh_validade">
                    </div>
                </div>
                <div class="row my-1 justify-content-between">
                    <div class="input-group col-md-5">
                        <label for="profissao" class="form-label">Profissão</label>
                        <input type="text" class="form-control w-100" id="profissao" name="profissao" placeholder="Servidor Público">
                    </div>
                    <div class="input-group col-md-5">
                        <label class="form-label" for="email">*E-mail</label>
                        <input type="email" class="form-control w-100" id="email" name="email" placeholder="exemplo@email.com" required>
                    </div>
                </div>

                <hr class="my-4">
                <div class="row my-1 justify-content-between">
                    <div class="input-group col-md-3 my-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" data-bs-toggle="collapse"
                            data-bs-target="#collapseExample" aria-expanded="false"
                            aria-controls="collapseExample" id="def" name="def" value="S">
                            <label class="form-check-label" for="def">
                                Portador de Necessidades Especiais
                            </label>
                        </div>
                    </div>
                </div>

                <div class="collapse" id="collapseExample">
                    <!-- -->
                    <hr class="my-4">
                    <!-- form PNE -->
                    <div class="row my-1">
                        <div class="input-group col-md-4">
                            <label for="medico">Nome do Médico</label>
                            <input type="text" id="medico" name="medico" class="form-control w-100"
                                placeholder="Nome">
                        </div>
                        <div class="input-group col-md-4 justify-content-between">
                            <div class="input-group col-md-6">
                                <label class="form-label" for="cid">CID</label>
                                <input type="text" id="cid" name="cid" class="form-control w-100">
                            </div>
                            <div class="input-group col-md-6">
                                <label class="form-label" for="situacao_pne">Situação</label>
                                <select class="form-control w-100" id="situacao_pne" name="situacao_pne">
                                    <option value="" selected>Selecione...</option>
                                    <option value="PERMANENTE">Permanente</option>
                                    <option value="TEMPORARIO">Temporario</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group col-md-2">
                            <label for="atestado">Atestado</label>
                            <input type="text" id="atestado" name="atestado" class="form-control w-100"
                                placeholder="Atestado">
                        </div>
                    </div>

                    <hr class="my-4">
                    <!-- form PNE -->
                    <h4 class="mb-4">Dados do Representante</h4>
                    <div class="row my-1 justify-content-between">
                        <div class="input-group col-md-5">
                            <label for="nome_representante" class="form-label">Nome do Representante</label>
                            <input type="text" class="form-control w-100" id="nome_representante" name="nome_representante" placeholder="Nome Representante">
                        </div>
                        <div class="input-group col-md-5">
                            <label class="form-label" for="email_representante">E-mail</label>
                            <input type="email" class="form-control w-100" id="email_representante" name="email_representante" placeholder="exemplo@email.com">
                        </div>
                    </div>
                    <div class="row my-1 justify-content-between">
                        <!-- EXPEDIÇÃO E DATA -->
                        <div class="input-group col-md-6">
                            <div class="input-group col-md-4 pl-0">
                                <label for="cpf_representante">CPF</label>
                                <input type="number" id="cpf_representante" class="form-control w-100" name="cpf_representante"
                                    oninput="validarDocumento(this)">
                            </div>
                        </div>
                        <div class="input-group col-md-2">
                            <label for="telefone_representante">Telefone de Contato</label>
                            <input type="text" id="telefone_representante" class="form-control w-100" name="telefone_representante" maxlength="14"
                                oninput="formatarTelefone(this)" placeholder="">
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="input-group col-md-2 pr-0">
                            <label for="cep_representante">CEP</label>
                            <input type="text" id="cep_representante" class="form-control w-100" name="cep_representante" placeholder="" oninput="formatarCEP(this)" maxlength="9">
                        </div>
                        <!-- verificar duplicidade aki -->
                        <div class="divbotaocep">
                            <button type="button" id="consultaCEP_representante" class="botaocep"><i
                                    class="mdi mdi-magnify"></i></button>
                        </div>
                        <div class="input-group col-md-6">
                            <label for="endereco_representante">Endereço</label>
                            <input type="text" id="endereco_representante" name="endereco_representante" class="form-control w-100"
                                placeholder="Endereço">
                        </div>
                        <div class="input-group col-md-3">
                            <label for="bairro_representante">Bairro</label>
                            <input type="text" id="bairro_representante" name="bairro_representante" class="form-control w-100" placeholder="Bairro">
                        </div>
                    </div>
                    <div class="row my-1 justify-content-between">
                        <div class="input-group col-md-3">
                            <label for="cidade_representante">Cidade</label>
                            <input type="text" id="cidade_representante" name="cidade_representante" class="form-control w-100" placeholder="Cidade">
                        </div>
                        <div class="input-group col-md-2">
                            <label for="uf_representante">UF</label>
                            <input type="text" id="uf_representante" name="uf_representante" class="form-control w-100" placeholder="UF">
                        </div>
                        <div class="col-md-3">
                            <label for="complemento_representante">Complemento</label>
                            <input type="text" class="form-control" id="complemento_representante" name="complemento_representante" placeholder="Complemento">
                        </div>
                    </div>
                </div>

                <hr class="my-4">
                <h4 class="mb-4">Dados da Credencial</h4>
                <div class="row my-2 justify-content-between" {% if credencial.TIPO == 'IDOSO' %}selected{%endif%}>
                    <div class="input-group col-md-2">
                        <label class="form-label" for="tipo_credencial">Tipo da Credencial</label>
                        <select class="form-control w-100" id="tipo_credencial" name="tipo_credencial">
                            <option value="IDOSO" {% if credencial.TIPO == 'IDOSO' %}selected{%endif%}>IDOSO</option>
                            <option value="DEFICIENTE" {% if credencial.TIPO == 'DEFICIENTE' %}selected{%endif%}>DEFICIENTE</option>
                        </select>
                    </div>
                    <div class="input-group col-md-4">
                        <div class="input-group col-md-6">
                            <label for="dtemissao_credencial" id="label_data">Data de Emissão:</label>
                            <input type="date" id="dtemissao_credencial" name="dtemissao_credencial"
                                class="form-control w-100" value="{{credencial.DTEMISSAO | date('Y-m-d')}}" readonly>
                        </div>
                        <div class="input-group col-md-6">
                            <label for="validade_credencial" id="label_data">Data de Validade:</label>
                            <input type="date" id="validade_credencial" name="validade_credencial"
                                class="form-control w-100" value="{{ (credencial.VALIDADE | default('now') | date_modify('+5 years')) | date('Y-m-d') }}" readonly>
                        </div>
                    </div>
                    <div class="input-group col-md-2">
                        <label class="form-label" for="protocoloGpro_credencial">*Nº GPRO</label>
                        <input type="text" class="form-control w-100" id="protocoloGpro_credencial" name="protocoloGpro_credencial" required>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-pref" id="botaoCadastro">Efetivar Cadastro</button>
                </div>
            </form>
        </div>
    </div>
    
    <link rel="stylesheet" href="{{ url('views/assets/css/style_pessoa.css') }}">
    <script src="{{ url('https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.6/jquery.inputmask.min.js') }}"></script>
    <script src="{{ url('https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js') }}"></script>
    <script src="{{ url('assets/extra-libs/sparkline/sparkline.js') }}"></script>
    <script src="{{ url('views/assets/js/custom.min.js') }}"></script>
    <script src="{{ url('views/assets/js/script_pessoa.js') }}"></script>
{% endblock %}
