
{% extends "base.html" %}

{% block conteudo %}
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
        data-boxed-layout="full">
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Auditoria</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Por Operador</h4>
                                <h5 class="card-subtitle">Insira o dado para sua consulta.</h5>
                                <div>
                                    <div class="row gap-3">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Operador: </label>
                                                <select class="form-control w-100" id="select-operador"
                                                    name="atividade">
                                                    {% for usuario in usuarios %}
                                                        <option value="{{usuario.USUARIO}}">{{usuario.USUARIO}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="form-group mt-2" id="botao-busca">
                                            <button type="submit" class="btn btn-pref" id="btn-operador" data-url="{{ url(URL_DESENVOLVIMENTO ~ '/auditoria/consulta-operador') }}">
                                                Consultar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Por Munícipe</h4>
                                <h5 class="card-subtitle">Insira o dado para sua consulta.</h5>
                                <div>
                                    <div class="row gap-3">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Documento (RG/CPF) do Munícipe: </label>
                                                <input type="text" id="input-doc" class="form-control w-100" name="telefone" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="form-group mt-2">
                                            <button type="submit" class="btn btn-pref" id="btn-doc" data-url="{{ url(URL_DESENVOLVIMENTO ~ '/auditoria/consulta-municipe') }}">
                                                Consultar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Operações</h4>
                                    <a class="btn btn-light btn-imprimir"
                                        href="processa_lista_chamada.php?atividade=">
                                        Exportar Lista Operações
                                    </a>
                            </div>
                            <div class="table-responsive" id="efetiva">
                                <table class="table table-striped" id="tb-efetiva">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID Controle</th>
                                            <th scope="col">Operador</th>
                                            <th scope="col">Operação</th>
                                            <th scope="col">Data da Operação</th>
                                            <th scope="col">Nome Munícipe</th>
                                            <th scope="col">Credencial</th>
                                        </tr>
                                    </thead>
                                    <tbody id="lista">
            
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>
    <link rel="stylesheet" href="{{ url(URL_DESENVOLVIMENTO ~ '../views/assets/css/style_auditoria.css') }}">
    <script src="{{ url('https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js') }}"></script>
    <script src="{{ url(URL_DESENVOLVIMENTO ~ '../assets/extra-libs/sparkline/sparkline.js') }}"></script>
    <script src="{{ url(URL_DESENVOLVIMENTO ~ '../views/assets/js/custom.min.js') }}"></script>
    <script src="{{ url(URL_DESENVOLVIMENTO ~ '../views/assets/js/script_auditoria.js') }}"></script>
{% endblock %}