
{% extends "base.html" %}

{% block conteudo %}
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper" data-navbarbg="skin6" data-theme="light" data-layout="vertical" data-sidebartype="full"
        data-boxed-layout="full">
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-5 align-self-center">
                        <h4 class="page-title">Auditoria</h4>
                    </div>
                </div>
            </div>

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Por Operador</h4>
                                <h5 class="card-subtitle">Insira o dado para sua consulta.</h5>
                                <form action="consulta_turmas.php" method="post">
                                    <div class="row gap-3">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Operador: </label>
                                                <select class="form-control w-100" id="select-atividades"
                                                    name="atividade">
                                                    <option>Escolha uma opção...</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="form-group mt-2" id="botao-busca">
                                            <button type="submit" class="btn btn-pref" id="buscar">Consultar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Por Munícipe</h4>
                                <h5 class="card-subtitle">Insira o dado para sua consulta.</h5>
                                <form action="consulta_turmas.php" method="post">
                                    <div class="row gap-3">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Nome do Munícipe: </label>
                                                <input type="text" id="telefone" class="form-control w-100" name="telefone" placeholder="" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row m-0">
                                        <div class="form-group mt-2" id="botao-busca">
                                            <button type="submit" class="btn btn-pref" id="buscar">Consultar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Operações</h4>
                                    <a class="btn btn-light btn-imprimir"
                                        href="processa_lista_chamada.php?atividade=">
                                        Exportar Lista Operações
                                    </a>
                            </div>
                            <div class="table-responsive" id="efetiva">
                                <table class="table table-striped" id="tb-efetiva">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID Controle</th>
                                            <th scope="col">Operador</th>
                                            <th scope="col">Operação</th>
                                            <th scope="col">Data da Operação</th>
                                            <th scope="col">Nome Munícipe</th>
                                            <th scope="col">Credencial</th>
                                        </tr>
                                    </thead>
                                    <tbody class="lista-efetiva">
                                       
                                        <!-- // $contador = 0;
                                        // foreach ($dados_efetivos as $dado) {
                                        //     echo "
                                        //             <tr >
                                        //                 <td id='nome-efetivo-$contador'>" . $dado['nome_municipe'] . "</td>
                                        //                 <td id='cpf-efetivo-$contador'>" . $dado['cpf_municipe'] . "</td>
                                        //                 <td>" . $dado['telefone_municipe'] . "</td>
                                        //                 <td>" . $dado['data_matricula'] . "</td>
                                        //                 <td><button class='btn btn-light btn-desmatricular' id='btn-desmatricula-$contador' onclick='desmatricularDaTurma($contador)'>Desmatricular</button></td>
                                        //             </tr>
                                        //         ";
                                        //     $contador++;
                                        // } -->
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>
    <script src="{{ url('assets/extra-libs/sparkline/sparkline.js') }}"></script>
    <script src="{{ url('views/assets/js/custom.min.js') }}"></script>
    <script src="{{ url('views/assets/js/script_consulta_turmas.js') }}"></script>
{% endblock %}